:root{
	--logoColor: #ffe266;
	--beachColor: #51ACF7;
	--orangeColor: #FF5B00;
	--waterColor: #A3D6FF;
}



html{
	font-family: 'Baloo Thambi 2', cursive;
	box-sizing: border-box;
    font-size: 18px;
    height: 100%;
}

body{
    height: 100%;
}


.text-center{
    text-align: center;
}


/* NAVBAR ###########################################3*/
.navbar{
	background: var(--beachColor) !important;
	transition: top 0.3s;
}


.navbar-brand{
	padding: 0 5px 0 5px;
	font-weight: bold;
	letter-spacing: 5px;
	border: 5px solid var(--logoColor);
	color: var(--logoColor) !important;
}

.navbar li{
	letter-spacing: 2px ;
}

.nav-link{
	font-weight: 600;
	color: white !important;
	margin: 0 10px 0 10px !important;
}

.nav-link::after{
	content: '' ;
	display: block !important;
	width: 0 !important;
	height: 2px !important;
	background: yellow !important;
	transition: width .3s !important;
}

.nav-link:hover::after{
	width: 100% !important;
}

.nav-link:hover{
	color: yellow !important;
}


/* TAB CONTENT */

.tab {
    float: left;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    width: 100%;
    border-left: none;
    padding: 10px;
}

.tabcontent button{
    margin-bottom: 10px;
}

.table{
    width: 100%;
}

table th{
    text-align: center;
}

table tr td{
    border-bottom: 1px solid darkgrey;
    text-align: center;
}

.delete-items{
    color: red;
}

.config-items{
    color: black;
}



/* RESPONSIVE */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // Extra large devices (large desktops) */
/* // No media query since the extra-large breakpoint has no upper bound on its width */